@charset "UTF-8";
@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana.eot");
  src: local("☺"), url("../fonts/Verdana.woff") format("woff"), url("../fonts/Verdana.ttf") format("truetype"), url("../fonts/Verdana.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana-Bold.eot");
  src: local("☺"), url("../fonts/Verdana-Bold.woff") format("woff"), url("../fonts/Verdana-Bold.ttf") format("truetype"), url("../fonts/Verdana-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana-Italic.eot");
  src: local("☺"), url("../fonts/Verdana-Italic.woff") format("woff"), url("../fonts/Verdana-Italic.ttf") format("truetype"), url("../fonts/Verdana-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}