@charset "UTF-8";
@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana.eot");
  src: local("☺"), url("../fonts/Verdana.woff") format("woff"), url("../fonts/Verdana.ttf") format("truetype"), url("../fonts/Verdana.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana-Bold.eot");
  src: local("☺"), url("../fonts/Verdana-Bold.woff") format("woff"), url("../fonts/Verdana-Bold.ttf") format("truetype"), url("../fonts/Verdana-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana-Italic.eot");
  src: local("☺"), url("../fonts/Verdana-Italic.woff") format("woff"), url("../fonts/Verdana-Italic.ttf") format("truetype"), url("../fonts/Verdana-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
.title h2 {
  font-size: 34px;
  font-weight: bold;
  line-height: 58px;
  color: #fff;
}

.subtitle {
  text-align: center;
}
.subtitle h3 {
  font-size: 24px;
  font-weight: bold;
  color: #343434;
  text-transform: uppercase;
}

.text p {
  font-size: 14px;
  line-height: 24px;
}

.button a {
  width: 216px;
  height: 65px;
  background-color: #fe504f;
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: relative;
  transition-duration: 0.4s;
}
.button a:hover {
  background-color: #d23e3d;
  transition-duration: 0.4s;
}
.button a:active {
  top: 5px;
  transition-duration: 0.4s;
}

@media (max-width: 1200px) {
  .subtitle h3 {
    font-size: calc(21px + (24 - 21) * ((100vw - 320px) / (1200 - 320)));
  }
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.welcomenews {
  background: url("../img/index/welcome_bg_plenka.png") 0 0 no-repeat, url("../img/index/welcome_bg.png") 0 0 no-repeat;
  background-size: cover;
  height: 682px;
  position: relative;
}

.welcomenews__container {
  padding: 200px 15px 0 15px;
  position: relative;
  z-index: 2;
}

.welcomenews__title {
  text-align: center;
  margin: 0 0 80px 0;
}
.welcomenews__title h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
}

.welcomenews__formcontainer {
  display: flex;
  justify-content: flex-end;
}

.welcomenews__form {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343434;
}
.welcomenews__form input {
  width: 241px;
  height: 28px;
  border: 1px solid #fe504f;
  color: #fff;
  background-color: #343434;
  margin: 0px 5px 0px 0px;
}

.search__btn {
  background-color: #fe504f;
  padding: 6px 13px;
  transition-duration: 0.4s;
}
.search__btn:hover {
  background-color: #cd3b3b;
  transition-duration: 0.4s;
}

.news__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
}

.news__row2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
}

.hidden {
  display: none;
}

.news__button {
  margin: 60px 0px 0px 0px;
  display: flex;
  justify-content: center;
}
.news__button a {
  cursor: pointer;
  width: 370px;
  height: 60px;
  background-color: #343434;
  color: #fe504f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition-duration: 0.4s;
}
.news__button a:hover {
  background-color: #242323;
  transition-duration: 0.4s;
}
.news__button a:active {
  top: 4px;
}

.box-7 {
  order: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.box-8 {
  order: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.box-9 {
  order: 3;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

.box-10 {
  order: 4;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
}

.box-11 {
  order: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

.box-12 {
  order: 6;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

.welcomenews__figure {
  position: absolute;
  bottom: 0;
}
.welcomenews__figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.d36 {
  width: auto;
  height: auto;
  margin-left: 0px;
  background: #343434;
  position: relative;
}

.d36:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 100%;
  top: calc(18% - 28px);
  border-top: 28px solid transparent;
  border-right: 24px solid #343434;
  border-bottom: 28px solid transparent;
}

.d37 {
  width: auto;
  height: auto;
  margin-left: 0px;
  background: #343434;
  position: relative;
}

.d37:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 100%;
  top: calc(18% - 28px);
  border-top: 28px solid transparent;
  border-left: 24px solid #343434;
  border-bottom: 28px solid transparent;
}

.d38 {
  width: auto;
  height: auto;
  margin-left: 0px;
  background: #343434;
  position: relative;
}

.d38:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: calc(20% - 28px);
  border-left: 28px solid transparent;
  border-bottom: 24px solid #343434;
  border-right: 28px solid transparent;
}

.welcomenews__profit {
  position: absolute;
  right: 15px;
  top: 80px;
  background: url("../img/icons/profit.png") 0 0/100% 100% no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcomenews__profit h3 {
  color: #fff;
  padding: 15px;
  margin: 0px 10px 0px 0px;
}

@media (min-width: 992px) and (max-width: 1600px) {
  .welcomenews__profit {
    top: calc(270px + (64 - 270) * ((100vw - 992px) / (1600 - 992)));
  }
}
/* Large desktops and laptops */
@media (max-width: 1200px) {
  .welcomenews__title {
    margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1200 - 320)));
  }
  .welcomenews__title h1 {
    font-size: calc(32px + (60 - 32) * ((100vw - 320px) / (1200 - 320)));
  }
}
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .welcomenews__profit {
    display: none;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .welcomenews__profit {
    display: none;
  }

  .news__row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, minmax(268px, 300px) minmax(258px, 266px) minmax(268px, 270px));
  }

  .news__row2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, minmax(268px, 300px) minmax(258px, 266px) minmax(268px, 270px));
  }

  .box-7 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .box-8 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .box-9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .box-12 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .box-10 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .box-11 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .d36:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    top: calc(18% - 28px);
    border-right: 28px solid transparent;
    border-left: 24px solid #343434;
    border-bottom: 28px solid transparent;
  }

  .d38:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: calc(15% - 24px);
    border-top: 28px solid transparent;
    border-left: 24px solid #343434;
    border-bottom: 28px solid transparent;
    transform: scale(-1, 1);
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .news__row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .news__row2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .box-7 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
  }

  .box-8 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 8;
  }

  .box-9 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 9;
  }
  .box-9 img {
    width: 100%;
    height: 240px !important;
    object-fit: cover;
    object-position: 0 0;
  }

  .box-11 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 11;
  }

  .box-12 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 10;
  }

  .box-10 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 12;
  }

  .d36::before {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: calc(90% - 28px);
    border-left: 28px solid transparent;
    border-bottom: 24px solid #343434;
    border-right: 28px solid transparent;
    transform: translateY(-53px);
  }

  .d37:before {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: calc(10% - 28px);
    border-left: 28px solid transparent;
    border-bottom: 24px solid #343434;
    border-right: 28px solid transparent;
    transform: translateY(-46px);
  }

  .d38::before {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: calc(10% - 28px);
    border-left: 28px solid transparent;
    border-bottom: 24px solid #343434;
    border-right: 28px solid transparent;
    transform: translateY(-46px);
  }

  /* Iphone 5 */
}
.footernews {
  padding: 45px 15px;
  background-color: #343434;
  margin: 60px 0px 0px 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
/* Portrait phones and smaller типа моего 6s */
/* Iphone 5 */
.welcomepost {
  background: url("../img/index/welcome_bg_plenka.png") 0 0 no-repeat, url("../img/index/welcome_bg.png") 0 0 no-repeat;
  background-size: cover;
  height: 682px;
  position: relative;
}

.welcomepost__container {
  padding: 200px 15px 0 15px;
  position: relative;
  z-index: 2;
}

.d30 {
  width: auto;
  height: auto;
  margin-left: 0px;
  background: #343434;
  position: relative;
}

.d30:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: calc(12% - 28px);
  border-left: 28px solid transparent;
  border-bottom: 24px solid #343434;
  border-right: 28px solid transparent;
}

.welcomepost__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.welcomepost__title {
  width: 491px;
  height: 119px;
  padding: 30px;
  position: relative;
  margin: -119px 0px 47px 0px;
}
.welcomepost__title h3 {
  font-size: 20px;
  color: #fe504f;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
}
.welcomepost__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fe504f;
  margin: 15px 0px 0px 0px;
}

.welcomepost__text {
  margin: 0px 0px 44px 0px;
}
.welcomepost__text p {
  color: #343434;
  font-size: 14px;
  line-height: 26px;
  padding: 0 50px;
}
.welcomepost__text:last-child {
  margin: 0px 0px 66px 0px;
}

.welcomepost__subtitle {
  padding: 0 50px;
  margin: 0px 0px 28px 0px;
}
.welcomepost__subtitle h3 {
  font-size: 18px;
  line-height: 20px;
  color: #343434;
}

.welcomepost__profit {
  position: absolute;
  right: 15px;
  top: 80px;
  background: url("../img/icons/profit.png") 0 0/100% 100% no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcomepost__profit h3 {
  color: #fff;
  padding: 15px;
  margin: 0px 10px 0px 0px;
}

@media (min-width: 1320px) and (max-width: 1600px) {
  .welcomepost__profit {
    top: calc(170px + (64 - 170) * ((100vw - 1320px) / (1600 - 1320)));
  }
}
@media (max-width: 1321px) {
  .welcomepost__profit {
    display: none;
  }
}
/* Large desktops and laptops */
@media (max-width: 1200px) {
  .welcomepost {
    height: calc(300px + (682 - 300) * ((100vw - 320px) / (1200 - 320)));
  }

  .welcomepost__title {
    width: 491px;
    height: 119px;
    width: calc(366px + (491 - 366) * ((100vw - 767px) / (1200 - 767)));
    height: calc(140px + (119 - 140) * ((100vw - 320px) / (1200 - 320)));
    padding: calc(15px + (30 - 15) * ((100vw - 320px) / (1200 - 320)));
    margin: -119px 0px 47px 0px;
    margin-top: calc(-129px + (-119 - (-129)) * ((100vw - 767px) / (1200 - 767)));
    margin-bottom: calc(20px + (47 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .welcomepost__text {
    margin: 0px 0px 44px 0px;
    margin-bottom: calc(20px + (44 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
  .welcomepost__text:last-child {
    margin-bottom: calc(5px + (66 - 5) * ((100vw - 320px) / (1200 - 320)));
  }

  .welcomepost__text p {
    line-height: calc(22px + (26 - 22) * ((100vw - 320px) / (1200 - 320)));
    padding-right: calc(5px + (50 - 5) * ((100vw - 320px) / (1200 - 320)));
    padding-left: calc(5px + (50 - 5) * ((100vw - 320px) / (1200 - 320)));
  }

  .welcomepost__subtitle {
    padding-right: calc(5px + (50 - 5) * ((100vw - 320px) / (1200 - 320)));
    padding-left: calc(5px + (50 - 5) * ((100vw - 320px) / (1200 - 320)));
  }
}
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .welcomepost__title {
    margin-top: 0;
    width: auto;
    height: auto;
  }

  .welcomepost__title h3 {
    font-size: 20px;
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1200 - 320)));
    color: #fe504f;
    line-height: 26px;
    line-height: calc(23px + (26 - 23) * ((100vw - 320px) / (1200 - 320)));
    text-transform: uppercase;
    font-weight: 700;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .welcomepost__image {
    height: 200px;
    height: calc(190px + (300 - 190) * ((100vw - 320px) / (1200 - 320)));
  }
  .welcomepost__image img {
    object-fit: cover;
  }
}
/* Iphone 5 */
body, html {
  height: 100%;
  font-family: "Verdana", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: flex;
  padding: 60px 15px 10px 15px;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 40px;
}

.header__logo {
  position: relative;
  z-index: 5;
}
.header__logo h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fe504f;
}

.menu__icon {
  display: none;
}

.menu__list {
  height: 40px;
}

.borderactive {
  border-bottom: 3px solid #fe504f;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 50px;
}

.menu__link {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  transition-duration: 0.4s;
  padding: 10px 0;
}
.menu__link:hover {
  transition-duration: 0.1s;
  border-bottom: 3px solid #fe504f;
}
.menu__link:active {
  top: 3px;
  transition-duration: 0.4s;
}

/*-----------------------*/
body._touch .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  flex: 1 1 auto;
}

/*-----------------------*/
@media (min-width: 768px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .menu__link {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .header {
    position: fixed;
    height: 70px;
    background-color: #fff;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fe504f;
  }

  .menu__icon::before,
.menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
    background-color: #fff;
  }

  .header__container {
    display: flex;
    padding: 20px 15px;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__list li:first-child {
    border-bottom: none;
  }

  .menu__link:hover {
    transition-duration: 0.1s;
    border-bottom: none;
  }
}
.welcome {
  background: url("../img/index/welcome_bg_plenka.png") 0 0 no-repeat, url("../img/index/welcome_bg.png") 0 0 no-repeat;
  background-size: cover;
  height: 886px;
  position: relative;
}

.welcome__container {
  padding: 270px 15px 0 15px;
}

.welcome__title {
  margin: 0px 0px 32px 0px;
}
.welcome__title h1 {
  width: 682px;
  font-size: 60px;
  font-weight: 700;
  line-height: 74px;
  color: #fff;
}

.welcome__text {
  margin: 0px 0px 46px 0px;
}
.welcome__text p {
  width: 514px;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.welcome__links {
  display: flex;
  position: relative;
  z-index: 2;
}

.welcome__button {
  margin: 0px 30px 0px 0px;
}
.welcome__button:last-child {
  margin: 0;
}

.welcome__figure {
  position: absolute;
  bottom: 0;
}
.welcome__figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome__profit {
  position: absolute;
  right: 15px;
  top: 270px;
  background: url("../img/icons/profit.png") 0 0/100% 100% no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__profit h3 {
  color: #fff;
  padding: 15px;
  margin: 0px 10px 0px 0px;
}

@media (max-width: 1600px) {
  .welcome__profit {
    top: calc(400px + (268 - 400) * ((100vw - 1200px) / (1600 - 1200)));
  }
}
/* Large desktops and laptops */
@media (max-width: 1200px) {
  .welcome__container {
    padding-top: calc(205px + (270 - 205) * ((100vw - 320px) / (1200 - 320)));
  }

  .welcome__title {
    margin-bottom: calc(30px + (32 - 30) * ((100vw - 320px) / (1200 - 320)));
  }
  .welcome__title h1 {
    font-size: calc(32px + (60 - 32) * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(33px + (74 - 33) * ((100vw - 320px) / (1200 - 320)));
  }

  .welcome__text {
    margin-bottom: calc(30px + (46 - 30) * ((100vw - 320px) / (1200 - 320)));
  }
}
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .welcome__title h1 {
    width: 100%;
  }

  .welcome__text p {
    width: 100%;
  }

  .welcome__button {
    margin: 0px 15px 0px 0px;
  }
  .welcome__button:last-child {
    margin: 0;
  }

  .welcome {
    height: calc(805px + (886 - 805) * ((100vw - 320px) / (1200 - 320)));
  }

  .welcome__profit {
    top: calc(665px + (300 - 665) * ((100vw - 320px) / (1200 - 320)));
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .welcome__links {
    flex-direction: column;
  }

  .welcome__button {
    margin: 0px 0px 20px 0px;
  }
  .welcome__button:last-child {
    margin: 0;
  }
}
.services {
  padding: 0 15px;
  margin: 0px 0px 70px 0px;
}

.services__subtitle {
  margin: 0px 0px 30px 0px;
}
.services__subtitle h3 {
  text-transform: uppercase;
}

.services__text {
  display: flex;
  justify-content: center;
  margin: 0px 0px 67px 0px;
}
.services__text p {
  width: 911px;
  text-align: center;
  color: #adadad;
}

.services__row {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(157px, 232px));
  grid-template-rows: repeat(2, auto);
  column-gap: 90px;
  row-gap: 57px;
}

.services-item__image {
  text-align: center;
  margin: 0px 0px 16px 0px;
}

.services-item__title {
  margin: 0px 0px 18px 0px;
}
.services-item__title h4 {
  font-size: 16px;
  font-weight: 700;
  color: #343434;
  text-align: center;
  line-height: 24px;
}
.services-item__title::after {
  content: "";
  position: relative;
  left: 50%;
  margin: 7px 0px 0px -30px;
  width: 61px;
  height: 3px;
  background-color: #fe504f;
  display: block;
}

.services-item__text {
  display: flex;
  justify-content: center;
}
.services-item__text p {
  text-align: center;
  color: #aeaeae;
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  .services {
    margin-bottom: calc(40px + (70 - 40) * ((100vw - 320px) / (1200 - 320)));
  }

  .services__subtitle {
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .services__text {
    margin: 0px 0px 67px 0px;
    margin-bottom: calc(40px + (67 - 40) * ((100vw - 320px) / (1200 - 320)));
  }

  .services__row {
    column-gap: calc(40px + (90 - 40) * ((100vw - 767px) / (1200 - 767)));
    row-gap: calc(40px + (57 - 40) * ((100vw - 767px) / (1200 - 767)));
  }

  .services-item__text p {
    line-height: calc(20px + (24 - 20) * ((100vw - 767px) / (1200 - 767)));
  }
}
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .services__row {
    grid-template-columns: repeat(2, minmax(136px, 300px));
    grid-template-rows: repeat(auto-fit, 210px);
    column-gap: calc(20px + (40 - 20) * ((100vw - 320px) / (1200 - 320)));
    row-gap: calc(20px + (40 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .services-item__title h4 br {
    display: none;
  }

  .services-item__title {
    margin-bottom: calc(10px + (18 - 10) * ((100vw - 320px) / (1200 - 320)));
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .services-item__title h4 {
    line-height: 16px;
  }
}
.confidential {
  padding: 100px 15px;
  background: url("../img/index/plenka2.png") 0 0 no-repeat, url("../img/index/welcome_bg_plenka.png") 0 0 no-repeat, url("../img/index/confidential_bg.png") 0 0 no-repeat;
  background-size: cover;
  background-position-x: left;
  margin: 0px 0px 80px 0px;
}

.confidential__title {
  display: flex;
  justify-content: center;
  margin: 0px 0px 42px 0px;
}
.confidential__title h2 {
  text-transform: uppercase;
  text-align: center;
}

.confidential__button {
  display: flex;
  justify-content: center;
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  .confidential {
    padding: 100px 15px;
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1200 - 320)));
    padding-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1200 - 320)));
    margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1200 - 320)));
  }

  .confidential__title {
    margin-bottom: calc(20px + (42 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
  .confidential__title h2 {
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(33px + (58 - 33) * ((100vw - 320px) / (1200 - 320)));
  }
}
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .confidential {
    background-position-x: 30%;
  }
}
.aboutus {
  padding: 0 15px;
  margin: 0px 0px 80px 0px;
}

.aboutus__title {
  text-align: center;
  margin: 0px 0px 31px 0px;
}
.aboutus__title h3 {
  text-transform: uppercase;
}

.aboutus__text {
  display: flex;
  justify-content: center;
  margin: 0px 0px 76px 0px;
}
.aboutus__text p {
  width: 875px;
  text-align: center;
  color: #afafaf;
}

.aboutus__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  column-gap: 60px;
  column-gap: calc(20px + (60 - 20) * ((100vw - 992px) / (1200 - 992)));
  margin: 0px 0px 20px 0px;
}

.aboutus-item__title {
  margin: 0px 0px 27px 0px;
}
.aboutus-item__title h4 {
  color: #fe504f;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.aboutus-item__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fe504f;
  margin: 15px 0px 0px 0px;
}

.aboutus-item__text p {
  color: #343434;
}

.swiper-container {
  width: 568px;
  overflow: hidden;
}

.swiper-wrapper {
  margin: 0px 0px 30px 0px;
}

.aboutus-slider__grid {
  display: grid;
  grid-template-columns: repeat(3, 185px);
  grid-template-rows: repeat(2, 185px);
  column-gap: 5px;
  row-gap: 5px;
}

.aboutus__image img {
  max-width: 100%;
}

.aboutus__rowteam {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, minmax(150px, 200px));
  grid-template-rows: repeat(2, minmax(150px, 200px));
}

.aboutus-item__imageteam img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutus-item__description {
  padding: 20px;
  background-color: #fe504f;
}

.aboutus-item__subtitle {
  padding: 0px 0px 40px 0px;
  margin: 0px 0px 12px 0px;
  border-bottom: 1px solid #bb3030;
}
.aboutus-item__subtitle h5 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  line-height: 40px;
}

.aboutus-item__subtext p:first-child {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px 0px 4px 0px;
}
.aboutus-item__subtext p:last-child {
  font-size: 12px;
  color: #ffffff;
}

.aboutus-slider .swiper-pagination {
  position: relative;
  text-align: center;
}

.aboutus-slider .swiper-pagination-bullet {
  border-radius: 0;
  width: 35px;
  height: 4px;
  transition-duration: 0.4s;
}

.swiper-pagination-bullet:only-child {
  display: block !important;
}

.swiper-pagination-bullet-active {
  background: #fe504f;
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  .aboutus {
    margin-bottom: calc(40px + (80 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .aboutus__title {
    margin-bottom: calc(20px + (31 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .aboutus__text {
    margin-bottom: calc(30px + (76 - 30) * ((100vw - 320px) / (1200 - 320)));
  }

  .aboutus-item__text p {
    line-height: calc(18px + (24 - 18) * ((100vw - 320px) / (1200 - 320)));
  }

  .aboutus-item__subtitle {
    padding: 0px 0px 40px 0px;
    padding-bottom: calc(10px + (40 - 10) * ((100vw - 320px) / (1200 - 320)));
  }
  .aboutus-item__subtitle h5 {
    font-size: 32px;
    font-size: calc(28px + (32 - 28) * ((100vw - 992px) / (1200 - 992)));
    line-height: calc(17px + (40 - 17) * ((100vw - 320px) / (1200 - 320)));
  }

  .aboutus-item__description {
    padding: 16px;
    padding: calc(16px + (20 - 16) * ((100vw - 320px) / (1200 - 320)));
  }
}
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .aboutus__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 0;
  }

  .aboutus__description {
    margin: 0px 0px 20px 0px;
  }

  .aboutus__rowteam {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, minmax(120px, 200px));
    grid-template-rows: repeat(2, minmax(150px, 180px));
  }

  .swiper-container {
    width: 565px;
    margin: 0 auto;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .aboutus__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 0;
  }

  .aboutus__description {
    margin: 0px 0px 20px 0px;
  }

  .aboutus__rowteam {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(116px, 200px));
    grid-template-rows: repeat(3, minmax(116px, 180px));
  }

  .swiper-container {
    width: 565px;
    width: calc(460px + (565 - 460) * ((100vw - 480px) / (1200 - 480)));
    overflow: hidden;
    margin: 0 auto;
  }

  .aboutus-slider__grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(130px, 150px));
    grid-template-rows: repeat(2, minmax(130px, 150px));
    column-gap: 5px;
    row-gap: 5px;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .aboutus__rowteam {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(95px, 200px));
    grid-template-rows: repeat(4, minmax(95px, 150px));
  }

  .swiper-container {
    width: calc(300px + (469 - 300) * ((100vw - 320px) / (1200 - 320)));
    overflow: hidden;
    margin: 0 auto;
  }

  .aboutus-slider__grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 100px));
    grid-template-rows: repeat(2, minmax(80px, 100px));
    column-gap: 3px;
    row-gap: 3px;
  }
}
.strategic {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 80px 0px;
}

.strategic__container {
  padding: 80px 15px;
  background: url("../img/index/plenka2.png") 0 0 no-repeat, url("../img/index/welcome_bg_plenka.png") 0 0 no-repeat;
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.strategic__title {
  text-align: center;
  margin: 0px 0px 28px 0px;
}
.strategic__title h2 {
  text-transform: uppercase;
  line-height: 38px;
}

.strategic__text p {
  max-width: 1006px;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.full-screen__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#myBtn {
  font-size: 18px;
  color: #fff;
  padding: 10px;
  border: none;
}

.strategic__button {
  cursor: pointer;
  margin: 0px 0px 37px 0px;
}
.strategic__button a {
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe504f;
  border-radius: 50px;
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  .strategic {
    margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1200 - 320)));
  }

  .strategic__container {
    padding: 80px 15px;
    padding-top: calc(40px + (80 - 40) * ((100vw - 320px) / (1200 - 320)));
    padding-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1200 - 320)));
  }

  .strategic__title {
    margin-bottom: calc(20px + (28 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .strategic__title h2 {
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(30px + (58 - 30) * ((100vw - 320px) / (1200 - 320)));
  }
}
.news {
  padding: 0 15px;
  margin: 0px 0px 80px 0px;
}

.news__title {
  margin: 0px 0px 31px 0px;
}

.news__text {
  display: flex;
  justify-content: center;
  margin: 0px 0px 70px 0px;
}
.news__text p {
  width: 1082px;
  font-size: 16px;
  text-align: center;
  color: #afafaf;
}

.news__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
}

.box-1 {
  order: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box-2 {
  order: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box-3 {
  order: 3;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box-4 {
  order: 4;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box-5 {
  order: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box-6 {
  order: 6;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.news__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__description {
  padding: 30px;
  position: relative;
}

.d33 {
  width: auto;
  height: auto;
  margin-left: 0px;
  background: #343434;
  position: relative;
}

.d33:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 100%;
  top: calc(18% - 28px);
  border-top: 28px solid transparent;
  border-right: 24px solid #343434;
  border-bottom: 28px solid transparent;
}

.d34 {
  width: auto;
  height: auto;
  margin-left: 0px;
  background: #343434;
  position: relative;
}

.d34:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 100%;
  top: calc(18% - 28px);
  border-top: 28px solid transparent;
  border-left: 24px solid #343434;
  border-bottom: 28px solid transparent;
}

.d35 {
  width: auto;
  height: auto;
  margin-left: 0px;
  background: #343434;
  position: relative;
}

.d35:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: calc(20% - 28px);
  border-left: 28px solid transparent;
  border-bottom: 24px solid #343434;
  border-right: 28px solid transparent;
}

.news-item__title {
  margin: 0px 0px 17px 0px;
}
.news-item__title h3 {
  font-size: 20px;
  color: #fe504f;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
}
.news-item__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fe504f;
  margin: 15px 0px 0px 0px;
}

.news-item__text {
  margin: 0px 0px 30px 0px;
}
.news-item__text p {
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.news-item__data {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px 30px 30px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.news-item__data p {
  color: #fe504f;
  font-size: 12px;
  font-style: italic;
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  .news {
    margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1200 - 320)));
  }

  .news__title {
    margin-bottom: calc(20px + (31 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .news__text {
    margin-bottom: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
  }

  .news__description {
    padding: 30px;
    padding: calc(20px + (30 - 20) * ((100vw - 767px) / (1200 - 767)));
  }

  .news-item__data {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 30px 30px 0px;
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 767px) / (1200 - 767)));
    margin-right: calc(20px + (30 - 20) * ((100vw - 767px) / (1200 - 767)));
  }

  .news-item__text {
    margin: 0px 0px 30px 0px;
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 767px) / (1200 - 767)));
  }
  .news-item__text p {
    line-height: calc(16px + (20 - 16) * ((100vw - 767px) / (1200 - 767)));
  }

  .news-item__title h3 {
    font-size: 18px;
    font-size: calc(17px + (20 - 17) * ((100vw - 767px) / (1200 - 767)));
    line-height: calc(22px + (26 - 22) * ((100vw - 767px) / (1200 - 767)));
  }

  .news-item__title {
    margin-bottom: calc(10px + (17 - 10) * ((100vw - 767px) / (1200 - 767)));
  }
}
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .news__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, minmax(268px, 300px) minmax(258px, 266px) minmax(268px, 270px));
  }

  .box-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .box-2 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .box-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .box-4 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .box-5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .box-6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .d35:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    top: calc(18% - 28px);
    border-top: 28px solid transparent;
    border-left: 24px solid #343434;
    border-bottom: 28px solid transparent;
  }

  .d34:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    left: calc(3% - 24px);
    border-top: 28px solid transparent;
    border-left: 24px solid #343434;
    border-bottom: 28px solid transparent;
    transform: scale(-1, 1);
  }

  .news-item__title {
    margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (1200 - 320)));
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .news__row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .box-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .box-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .box-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .box-3 img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: 0 0;
  }

  .box-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .box-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .box-6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .d33::before {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: calc(10% - 28px);
    border-left: 28px solid transparent;
    border-bottom: 24px solid #343434;
    border-right: 28px solid transparent;
    transform: translateY(-46px);
  }

  .d35:before {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: calc(90% - 28px);
    border-left: 28px solid transparent;
    border-bottom: 24px solid #343434;
    border-right: 28px solid transparent;
    transform: translateY(-53px);
  }

  .d34::before {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: calc(10% - 28px);
    border-left: 28px solid transparent;
    border-bottom: 24px solid #343434;
    border-right: 28px solid transparent;
    transform: translateY(-46px);
  }

  .news-item__text p {
    line-height: 18px;
    font-size: 15px;
  }

  .news-item__text {
    margin: 0px 0px 40px 0px;
  }

  .news__description {
    margin: 0px 0px 15px 0px;
  }
}
/* Iphone 5 */
.contact {
  padding: 100px 15px 52px 15px;
  background: url("../img/index/welcome_bg_plenka.png") 0 0 no-repeat, url("../img/index/contact_bg.png") 0 0 no-repeat;
}

.contact__row {
  display: grid;
  grid-template-columns: 496px 445px;
  grid-template-columns: minmax(336px, 496px) minmax(267px, 445px);
  grid-template-rows: 1fr;
  gap: 260px;
  gap: calc(1px + (260 - 1) * ((100vw - 320px) / (1200 - 320)));
}

.contact__logo {
  margin: 0px 0px 37px 0px;
}
.contact__logo h2 {
  color: #fe504f;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact__text {
  margin: 0px 0px 40px 0px;
}
.contact__text p {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}
.contact__text::after {
  content: "";
  display: block;
  width: 51px;
  height: 3px;
  background-color: #fe504f;
  margin: 30px 0px 0px 0px;
}

.list-item li {
  margin: 0px 0px 30px 0px;
}
.list-item li:last-child {
  margin: 0;
}
.list-item a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 0px 8px 40px;
}

.contact_link1 {
  background: url("../img/icons/footer_icon1.svg") 0 0 no-repeat;
}

.contact_link2 {
  background: url("../img/icons/footer_icon2.svg") 0 0 no-repeat;
}

.contact_link3 {
  background: url("../img/icons/footer_icon3.svg") 0 0 no-repeat;
}

.contact__title {
  margin: 0px 0px 25px 0px;
}
.contact__title h2 {
  color: #fe504f;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.contact__title::after {
  content: "";
  display: block;
  width: 51px;
  height: 3px;
  background-color: #fe504f;
  margin: 15px 0px 0px 0px;
}

.contact_text {
  margin: 0px 0px 38px 0px;
}
.contact_text p {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}

.contact__name {
  margin: 0px 0px 15px 0px;
}
.contact__name input {
  font-size: 14px;
  color: #fff;
  width: 100%;
  height: 45px;
  border: 1px solid #aeaeae;
  background-color: transparent;
  padding: 15px 18px;
}
.contact__name input ::placeholder {
  color: #afafaf;
  font-size: 14px;
}

.contact__email {
  margin: 0px 0px 15px 0px;
}
.contact__email input {
  font-size: 14px;
  color: #fff;
  width: 100%;
  height: 45px;
  border: 1px solid #aeaeae;
  background-color: transparent;
  padding: 15px 18px;
}
.contact__email input ::placeholder {
  color: #afafaf;
  font-size: 14px;
}

.contact__subject {
  margin: 0px 0px 15px 0px;
}
.contact__subject input {
  font-size: 14px;
  color: #fff;
  width: 100%;
  height: 45px;
  border: 1px solid #aeaeae;
  background-color: transparent;
  padding: 15px 18px;
}
.contact__subject input ::placeholder {
  color: #afafaf;
  font-size: 14px;
}

.contact__message {
  margin: 0px 0px 38px 0px;
}
.contact__message textarea {
  font-size: 14px;
  color: #fff;
  width: 100%;
  height: 191px;
  border: 1px solid #aeaeae;
  background-color: transparent;
  padding: 15px 18px;
}
.contact__message textarea ::placeholder {
  color: #afafaf;
  font-size: 14px;
}

.contact__button {
  display: flex;
  justify-content: flex-end;
}
.contact__button input {
  color: #ffffff;
  font-size: 16px;
  width: 130px;
  height: 40px;
  background-color: #fe504f;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact__button input:hover {
  background-color: #d23e3d;
  transition-duration: 0.4s;
}
.contact__button input:active {
  top: 5px;
  transition-duration: 0.4s;
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  .contact {
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1200 - 320)));
    padding-bottom: calc(24px + (52 - 24) * ((100vw - 320px) / (1200 - 320)));
  }

  .contact__logo {
    margin-bottom: calc(20px + (37 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
  .contact__logo h2 {
    font-size: calc(28px + (32 - 28) * ((100vw - 320px) / (1200 - 320)));
  }

  .contact__text {
    margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
  .contact__text::after {
    margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .contact__title {
    margin-bottom: calc(20px + (25 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
  .contact__title h2 {
    font-size: calc(26px + (32 - 26) * ((100vw - 320px) / (1200 - 320)));
  }
  .contact__title::after {
    margin-top: calc(10px + (15 - 10) * ((100vw - 320px) / (1200 - 320)));
  }

  .contact_text {
    margin-bottom: calc(20px + (38 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .list-item li {
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .contact__message textarea {
    height: 65px;
    height: calc(65px + (191 - 65) * ((100vw - 767px) / (1200 - 767)));
  }

  .contact__message {
    margin: 0px 0px 38px 0px;
    margin-bottom: calc(20px + (38 - 20) * ((100vw - 320px) / (1140 - 320)));
  }
}
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .contact__row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
  }

  .contact__message textarea {
    height: 20%;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }

  .footer__links {
    margin: 0px 0px 20px 0px;
  }
}
/* Iphone 5 */
.footer {
  padding: 45px 15px;
  background-color: #343434;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__license p {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__links {
  display: flex;
}

.footer__link {
  padding: 0 15px;
  border-right: 1px solid #fe504f;
}
.footer__link:last-child {
  border: 0;
}

@media (max-width: 1200px) {
  .footer {
    margin-bottom: calc(20px + (45 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
/* Portrait phones and smaller типа моего 6s */
/* Iphone 5 */